html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

.navbar {
    background-color: #2a2a2a;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000; /* To ensure the navbar is on top */
}

/* Styling and positioning the logo */
.logo {
    font-size: 24px;
    font-weight: bold;
    color: white;
}

.comert {
    color: white;
}

.soft {
    color: rgb(164, 164, 164);
}

/* Styling and positioning the buttons */
.buttons {
    display: flex;
}

.buttons button {
    color: white;
    background-color: #2a2a2a;
    border: none;
    padding: 10px 20px;
    font-size: 17px;
    margin-left: 10px;
    cursor: pointer;
}

.buttons button:hover {
    background-color: #575757;
}

/* Settings for the map to be fullscreen */
#map {
    width: 100%;
    height: calc(100vh - 50px); /* Subtracting the height of the navbar */
    margin-top: 50px; /* Leaving space below the navbar */
}

/* JsPanel styling */
.panel-content {
    background-color: #D3D3D3; /* Light gray background color */
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 100%; /* Adjusting width to panel width minus padding */
    max-height: 100%; /* Adjusting height to panel height minus padding */
    overflow-y: auto; /* Handling overflow with scroll */
    box-sizing: border-box; /* Including padding and border in the width */
}

/* Styling for form fields */
.form-group {
    margin-bottom: 15px; /* Increased spacing */
}

.form-group label {
    display: block;
    font-size: 16px; /* Larger and more modern font size */
    color: #333;
    margin-bottom: 5px; /* Spacing between label and input */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; /* Modern font family */
}

.form-group input,
.form-group textarea {
    display: block;
    width: calc(100% - 16px); /* Field width equal to panel width */
    padding: 10px; /* Increased padding */
    border: 1px solid #ccc; /* Lighter border color */
    border-radius: 6px; /* Rounder corners */
    font-size: 16px; /* Larger font size */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; /* Modern font family */
    box-sizing: border-box; /* Using border box model for width including padding and border */
    background-color: #fff; /* White background color */
    color: #333; /* Darker text color */
    resize: vertical; /* Resize only vertically */
}

/* Special styling for textarea */
.form-group textarea {
    min-height: 120px; /* Setting height for textarea */
}

#updateSaveBtn{
    background-color: #007bff; /* Blue button color */
    color: white;
    border: none;
    padding: 8px 16px; /* Adjusting button size */
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px; /* Smaller font size */
    margin-top: 10px;
    display: block; /* Display button as block */
    width: 100%; /* Button width to fit panel width */
    transition: background-color 0.3s ease;
}
#updateSaveBtn:hover{
    background-color: #0056b3; /* Button color changes on hover */
}

/* Styling for Save button */
#saveBtn {
    background-color: #007bff; /* Blue button color */
    color: white;
    border: none;
    padding: 8px 16px; /* Adjusting button size */
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px; /* Smaller font size */
    margin-top: 10px;
    display: block; /* Display button as block */
    width: 100%; /* Button width to fit panel width */
    transition: background-color 0.3s ease;
}

#saveBtn:hover {
    background-color: #0056b3; /* Button color changes on hover */
}

.query-panel {
    width: 90vw; /* Setting panel width to 90% of the screen */
    max-width: 100vw; /* Maximum width to fit screen width */
    max-height: 50vh; /* Setting panel height to 50% of the screen height */
    overflow: hidden; /* Preventing content overflow */
    display: flex; /* Using flexbox to arrange content */
    flex-direction: column; /* Aligning items vertically */
}

.query-panel .panel-content {
    flex: 1; /* Allowing content to expand within the panel */
    overflow: auto; /* Handling content overflow with scroll */
}

#pointsTable {
    width: 100%; /* Table width to fit panel width */
    border-collapse: collapse;
    table-layout: fixed; /* Ensuring fixed width for table cells */
}

#pointsTable th, #pointsTable td {
    border: 1px solid #ddd;
    padding: 8px; /* Increased padding for cells */
    text-align: center; /* Centering text */
    overflow: hidden; /* Preventing content overflow */
    text-overflow: ellipsis; /* Displaying overflowed text with ellipsis */
}

#pointsTable th {
    background-color: #f4f4f4;
    font-weight: bold;
}

/* Styling for the search bar */
.search-container {
    display: flex;
    justify-content: flex-end; /* Aligning to the top right corner */
    margin-bottom: 15px; /* Adding space between search bar and table */
}

#searchInput {
    width: 200px; /* Width of the search bar */
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-sizing: border-box; /* Including padding and border in width */
}

/* Styling for buttons */
.updateBtn, .showBtn, .deleteBtn {
    border: none;
    padding: 5px 10px;
    margin: 2px;
    color: white;
    cursor: pointer;
    border-radius: 4px;
}

.updateBtn {
    background-color: #28a745; /* Green button color */
}

.showBtn {
    background-color: #007bff; /* Blue button color */
}

.deleteBtn {
    background-color: #dc3545; /* Red button color */
}

.updateBtn:hover, .showBtn:hover, .deleteBtn:hover {
    opacity: 0.8;
}

/* Styling for fullscreen buttons */
#fullscreenBtn, #fullscreenQueryBtn {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 8px 16px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
}

#fullscreenBtn:hover, #fullscreenQueryBtn:hover {
    background-color: #0056b3;
}

#closeBtn, #closeQueryBtn {
    background-color: #dc3545;
    color: white;
    border: none;
    padding: 8px 16px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
}

#closeBtn:hover, #closeQueryBtn:hover {
    background-color: #c82333;
}

/* Styling for the popup */
.ol-popup {
    position: absolute;
    background-color: #333; /* Dark gray background */
    color: #e3e3e3; /* White-light gray text color */
    padding: 15px; /* Increased padding */
    border-radius: 8px; /* Increased corner rounding */
    width: 200px; /* Increased popup width */
    height: auto; /* Height according to content */
    text-align: left;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.5); /* Enhanced shadow effect */
    align-items: center;
}

/* Styling for popup content */
.popup-content {
    position: relative;
    margin-bottom: 10px; /* Bottom margin for content area */
}

/* Styling for buttons in the popup */
.popup-buttons {
    margin-top: 10px;
    display: flex;
    justify-content: center;
}

/* General button styling */
.popup-btn {
    border: none;
    color: #fff;
    padding: 6px 10px; /* Smaller padding */
    border-radius: 4px; /* Smaller corner rounding */
    cursor: pointer;
    font-size: 12px; /* Smaller font size */
    transition: background-color 0.3s ease, transform 0.2s ease; /* Transition effects */
}

/* Styling for the Update button */
.popup-update {
    background-color: #007bff; /* Blue */
    color: white;
}

.popup-update:hover {
    background-color: #0056b3; /* Darker blue on hover */
    transform: scale(1.05); /* Slight scale up effect */
}

/* Styling for the Delete button */
.popup-delete {
    background-color: #dc3545; /* Red */
    color: white;
}

.popup-delete:hover {
    background-color: #c82333; /* Darker red on hover */
    transform: scale(1.05); /* Slight scale up effect */
}


#popup-id {
    display: none;
}

/* Modal window styling */
.modal {
    display: none; /* Initially hidden */
    position: fixed;
    z-index: 1000; /* To appear on top */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4); /* Opacity */
}

.modal-content {
    background-color: #333; /* Dark gray background */
    color: #ddd; /* Light gray text */
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 60%; /* Width */
    border-radius: 8px; /* Rounded corners */
}

.close {
    color: #ddd; /* Light gray close button color */
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #fff; /* Close button turns white on hover */
    text-decoration: none;
    cursor: pointer;
}

.modal-content h2 {
    margin: 0;
    font-size: 24px;
    padding-bottom: 10px;
}

.modal-content button {
    margin: 5px;
    padding: 10px;
    border: none;
    background-color: #007bff;
    color: white;
    font-size: 16px;
    cursor: pointer;
    border-radius: 4px;
}

.modal-content button:hover {
    background-color: #0056b3;
}

.table-cell {
    max-width: 300px; /* Desired maximum width */
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
